{% load static %}

{% comment %} /////////////// Selector de búsqueda /////////////// {% endcomment %}
<div class="options-layout">
    <input class="form-control" id="myInput" type="text" placeholder="Buscar por Nombre Científico..." autocomplete="off">

    <button type="button" style="margin: 0 5px;" class="btn red-gradient options-layout" onclick="searchClean('{{ title }}')">
        <img src="{% static 'images/escoba.png' %}" alt="logo" style="width: 3vh; margin: 5px 5px 3px 0; ">
        Limpiar
    </button>

    <button type="button" class="btn green-gradient btn-custom-hover options-layout" onclick="searchIt('{{ title }}')">
        <img src="{% static 'images/lupa.png' %}" alt="logo" style="width: 3vh; margin: 5px 5px 3px 0; ">
        Buscar
    </button>
</div>
<div id="options-search" class="dropdown-menu">
    <div class="dropdown-item" data-value="">Buscar por Nombre Científico...</div>
    {% for index in especies %}
        <div class="dropdown-item" data-value="{{ index.nombre_cientifico }}">{{ index.nombre_cientifico }}</div>
        <div class="dropdown-item" id="no-Results" style="display: none;">No hay resultados</div>
    {% endfor %}
</div>
{% comment %} /////////////// Selector de búsqueda /////////////// {% endcomment %}

<p>Buscar entre {{ especies|length }} resultados...</p>
<br>
{% comment %} <div class="table-responsive">  {% endcomment %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre Científico</th>
                <th>Familia</th>
                <th>Código</th>
                <th>Nombre Común</th>
                {% comment %} Herramientas de Manejo {% endcomment %}
                <th>Editar</th>
                <th>Eliminar</th>
                {% comment %} Herramientas de Manejo {% endcomment %}
            </tr>
        </thead>
        <tbody id="myTable">
            {% for especie in page_obj %}
            <tr>
                <td><img style="padding: 10px;" src="{% static 'fotos_vivas/' %}{{ especie.foto }}" alt="Foto de {{ especie.foto }}" onerror="this.onerror=null; this.src='{% static 'images/placeholder.jpeg' %}'"/></td>
                <td><div>{{ especie.nombre_cientifico }}</div></td>
                <td><div>{{ especie.familia }}</div></td>
                <td><div>{{ especie.codigo }}</div></td>
                <td><div>{{ especie.nombre_comun }}</div></td>
                <td><div style="cursor: pointer;" onclick="editItem({{ especie.id }}, '{{ title }}')"><img src="{% static 'images/edit_black.png' %}" alt="logo" style="width: 2vh;"></div></td>
                <td><div style="cursor: pointer;" onclick="deleteItem({{ especie.id }}, '{{ title }}', '{{ especie.nombre_cientifico }}')"><img src="{% static 'images/delete_black.png' %}" alt="logo" style="width: 1.7vh;"></div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% comment %} </div> {% endcomment %}