{% load static %}

{% comment %} /////////////// Selector de recurso /////////////// {% endcomment %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation" style="margin: 0 7px;">
        <a href="?item=Recursos&recurso=Glosario" style="text-decoration: none;">
            <button class="nav-link nav-selector"  data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Glosario</button>
        </a>
    </li>
    <li class="nav-item" role="presentation" style="margin: 0 7px;">
        <a href="?item=Recursos&recurso=EspeciesExcluidas" style="text-decoration: none;">
            <button class="nav-link nav-selector"  data-bs-toggle="tab" type="button" role="tab"  aria-selected="false">Especies Excluídas</button>
        </a>
    </li>
    <li class="nav-item" role="presentation" style="margin: 0 7px;">
        <a href="?item=Recursos&recurso=Literatura" style="text-decoration: none;">
            <button class="nav-link nav-selector" data-bs-toggle="tab" type="button" role="tab"  aria-selected="false">Literatura</button>
        </a>
    </li>
</ul><br>


{% comment %} /////////////// Selector de búsqueda /////////////// {% endcomment %}
<div class="options-layout">
    <input class="form-control" id="myInput" type="text" placeholder="Buscar..." autocomplete="off">

    <button type="button" style="margin: 0 5px;" class="btn red-gradient options-layout" onclick="searchClean('{{ subtitle }}')">
        <img src="{% static 'images/escoba.png' %}" alt="logo" style="width: 3vh; margin: 5px 5px 3px 0; ">
        Limpiar
    </button>

    <button type="button" class="btn green-gradient btn-custom-hover options-layout" onclick="searchIt('{{ subtitle }}')">
        <img src="{% static 'images/lupa.png' %}" alt="logo" style="width: 3vh; margin: 5px 5px 3px 0; ">
        Buscar
    </button>
</div>
<div id="options-search" class="dropdown-menu">
    <div class="dropdown-item" data-value="">Buscar...</div>
    {% for index in recursos %}
        {% if subtitle == "Glosario" %}
            <div class="dropdown-item" data-value="{{ index.termino }}">{{ index.termino }}</div>
            <div class="dropdown-item" id="no-Results" style="display: none;">No hay resultados</div>
        {% elif subtitle == "Especies Excluidas" %}
            <div class="dropdown-item" data-value="{{ index.nombre_cientifico }}">{{ index.nombre_cientifico }}</div>
            <div class="dropdown-item" id="no-Results" style="display: none;">No hay resultados</div>
        {% elif subtitle == "Literatura" %}
            <div class="dropdown-item" data-value="{{ index.citada }}">{{ index.citada }}</div>
            <div class="dropdown-item" id="no-Results" style="display: none;">No hay resultados</div>
        {% endif %}
    {% endfor %}
</div>
{% comment %} /////////////// Selector de búsqueda /////////////// {% endcomment %}

<p>Buscar entre {{ recursos|length }} resultados...</p>
<br>


{% comment %} <div class="table-responsive">  {% endcomment %}
    {% if subtitle == "Glosario" %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Termino</th>
                    <th>Definición</th>
                    {% comment %} Herramientas de Manejo {% endcomment %}
                    <th>Editar</th>
                    <th>Eliminar</th>
                    {% comment %} Herramientas de Manejo {% endcomment %}
                </tr>
            </thead>
            <tbody id="myTable">
                {% for recurso in page_obj %}
                <tr>
                    <td><div>{{ recurso.c }}</div></td>
                    <td><div>{{ recurso.termino }}</div></td>
                    <td><div>{{ recurso.definicion }}</div></td>
                    <td><div style="cursor: pointer;" onclick="editItem({{ recurso.id }}, '{{ title }}', '{{ subtitle }}')"><img src="{% static 'images/edit_black.png' %}" alt="logo" style="width: 2vh;"></div></td>
                    <td><div style="cursor: pointer;" onclick="deleteItem({{ recurso.id }}, '{{ subtitle }}', '{{ recurso.nombre_cientifico }}')"><img src="{% static 'images/delete_black.png' %}" alt="logo" style="width: 1.7vh;"></div></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% elif subtitle == "Especies Excluidas" %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Autor</th>
                    <th>Nombre Científico</th>
                    <th>Comentario</th>
                    {% comment %} Herramientas de Manejo {% endcomment %}
                    <th>Editar</th>
                    <th>Eliminar</th>
                    {% comment %} Herramientas de Manejo {% endcomment %}
                </tr>
            </thead>
            <tbody id="myTable">
                {% for recurso in page_obj %}
                <tr>
                    <td><div>{{ recurso.species_authors }}</div></td>
                    <td><div>{{ recurso.nombre_cientifico }}</div></td>
                    <td><div>{{ recurso.comentario }}</div></td>
                    <td><div style="cursor: pointer;" onclick="editItem({{ recurso.id }}, '{{ title }}', '{{ subtitle }}')"><img src="{% static 'images/edit_black.png' %}" alt="logo" style="width: 2vh;"></div></td>
                    <td><div style="cursor: pointer;" onclick="deleteItem({{ recurso.id }}, '{{ subtitle }}', '{{ recurso.nombre_cientifico }}')"><img src="{% static 'images/delete_black.png' %}" alt="logo" style="width: 1.7vh;"></div></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% elif subtitle == "Literatura" %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Citada</th>
                    {% comment %} Herramientas de Manejo {% endcomment %}
                    <th>Editar</th>
                    <th>Eliminar</th>
                    {% comment %} Herramientas de Manejo {% endcomment %}
                </tr>
            </thead>
            <tbody id="myTable">
                {% for recurso in page_obj %}
                <tr>
                    <td><div></div></td>
                    <td>{{ recurso.citada }}</td>
                    <td><div style="cursor: pointer;" onclick="editItem({{ recurso.id }}, '{{ title }}', '{{ subtitle }}')"><img src="{% static 'images/edit_black.png' %}" alt="logo" style="width: 2vh;"></div></td>
                    <td><div style="cursor: pointer;" onclick="deleteItem({{ recurso.id }}, '{{ subtitle }}', '{{ recurso.nombre_cientifico }}')"><img src="{% static 'images/delete_black.png' %}" alt="logo" style="width: 1.7vh;"></div></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% comment %} </div> {% endcomment %}