{% load static %}

{% comment %} /////////////// Selector de búsqueda /////////////// {% endcomment %}
<div class="options-layout">
    <input class="form-control" id="myInput" type="text" placeholder="Buscar Usuario..." autocomplete="off">

    <button type="button" style="margin: 0 5px;" class="btn red-gradient options-layout" onclick="searchClean('{{ title }}')">
        <img src="{% static 'images/escoba.png' %}" alt="logo" style="width: 3vh; margin: 5px 5px 3px 0; ">
        Limpiar
    </button>

    <button type="button" class="btn green-gradient btn-custom-hover options-layout" onclick="searchIt('{{ title }}')">
        <img src="{% static 'images/lupa.png' %}" alt="logo" style="width: 3vh; margin: 5px 5px 3px 0; ">
        Buscar
    </button>
</div>
<div id="options-search" class="dropdown-menu">
    <div class="dropdown-item" data-value="">Buscar Usuario...</div>
    {% for index in usuario %}
        <div class="dropdown-item" data-value="{{ index.username }}">{{ index.username }}</div>
        <div class="dropdown-item" id="no-Results" style="display: none;">No hay resultados</div>
    {% endfor %}
</div>
{% comment %} /////////////// Selector de búsqueda /////////////// {% endcomment %}

<p>Buscar entre {{ usuario|length }} resultados...</p>
<br>
{% comment %} <div class="table-responsive">  {% endcomment %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>E-mail</th>
                {% comment %} Herramientas de Manejo {% endcomment %}
                {% if title != "Usuarios" or user.is_staff %}
                    <th>Eliminar</th>
                {% else %}
                    <th></th>
                {% endif %}
                {% comment %} Herramientas de Manejo {% endcomment %}
            </tr>
        </thead>
        <tbody id="myTable">
            {% for usuario in page_obj %}
            <tr>
                {% comment %} <td><div>{{ usuario.name }}</div></td> {% endcomment %}
                <td><div>{{ usuario.username }}</div></td>
                <td><div>{{ usuario.email }}</div></td>
                {% if title != "Usuarios" or user.is_staff %}
                    {% if usuario.username != user.username %}
                        <td><div style="cursor: pointer;" onclick="deleteItem({{ usuario.id }}, '{{ title }}', '{{ usuario.email }}')"><img src="{% static 'images/delete_black.png' %}" alt="logo" style="width: 1.7vh;"></div></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% comment %} </div> {% endcomment %}